<div
	style="
		display: flex;
		background: rgb(102, 102, 102);
		width: 100%;
		padding: 10px 5px;
		gap: 70px;
		color: white;
	"
>
	<div style="width: 180px; border-right: 1px solid gray">Name</div>
	<div style="margin-left: auto; width: 100px">Price:</div>
	<div style="width: 180px; border-right: 1px solid gray">Profit:</div>
	<div style="width: 180px; border-right: 1px solid gray">Before profit:</div>
	<div style="width: 180px">After profit:</div>
	<div style="width: 80px; border-right: 1px solid gray">Buyer:</div>
	<div style="width: 100px">Can afford:</div>
	<div
		style="
			margin-left: 20px;
			color: red;
			font-size: 18px;
			cursor: pointer;
			width: 50px;
		"
	>
		Delete
	</div>
</div>
