.super_button {
	width: 100px;
	background: rgb(21, 132, 21);
	color: white;
	transition: 0.2s;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.super_button:hover {
	background: rgb(37, 182, 37);
}

.ultra__button {
	padding: 15px 20px;
	border: none;
	border-radius: 8px;
	background: rgb(40, 174, 40);
	color: white;
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		background: rgb(34, 135, 34);
	}
}

.percent-bar-container {
	width: 350px;
	display: flex;
	align-items: center;
	gap: 15px;
	position: relative;
}

input[type="range"] {
	width: 100%;
}

.percentage-display {
	margin-top: 10px;
	font-size: 18px;
}
