@if (this.productsComponent.createWindowOpen) {
<div
	(click)="this.toggleCreateWindow(false)"
	style="
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
	"
>
	<div
		(click)="$event.stopPropagation()"
		style="
			background-color: white;
			border-radius: 8px;
			padding: 15px;
			position: relative;
			padding: 40px 40px;
		"
	>
		<div style="display: flex; justify-content: center; align-items: center">
			<form
				(submit)="this.productsComponent.onSubmit()"
				[formGroup]="this.productsComponent.createOneForm"
				style="display: flex; flex-direction: column; gap: 15px; width: 500px"
			>
				<div style="display: flex; flex-direction: column; gap: 5px">
					<label for="name">Name</label>
					<input
						style="
							padding: 15px 20px;
							border-radius: 8px;
							border: 1px solid gray;
							font-size: 16px;
						"
						type="text"
						id="name"
						name="name"
						placeholder="Name"
						formControlName="name"
					/>
					@if (this.productsComponent.createOneForm.get('name')?.invalid &&
					this.productsComponent.createOneForm.get('name')?.dirty ||
					this.productsComponent.createOneForm.get('name')?.touched) { @if
					(this.productsComponent.createOneForm.get('name')?.errors?.['required'])
					{
					<span style="color: red">Это поле объязательно</span>
					}}
				</div>
				<div
					style="
						display: flex;
						flex-direction: column;
						position: relative;
						gap: 5px;
					"
				>
					<label for="price">Price</label>
					<input
						style="
							padding: 15px 20px;
							border-radius: 8px;
							border: 1px solid gray;
							font-size: 16px;
						"
						type="number"
						id="price"
						name="price"
						placeholder="Price"
						formControlName="price"
					/>
					<span
						style="
							font-size: 18px;
							position: absolute;
							right: 10px;
							top: 66%;
							transform: translateY(-50%);
						"
						>€</span
					>
					@if (this.productsComponent.createOneForm.get('price')?.invalid &&
					this.productsComponent.createOneForm.get('price')?.dirty ||
					this.productsComponent.createOneForm.get('price')?.touched) { @if
					(this.productsComponent.createOneForm.get('name')?.errors?.['required'])
					{
					<span style="color: red">Это поле объязательно</span>
					}}
				</div>
				@if (this.productsComponent. errorEmptyValues) {
				<div style="color: red">Please enter all the values!</div>
				}
				<div
					style="
						display: flex;
						justify-content: space-between;
						margin-top: 20px;
					"
				>
					<div class="percent-bar-container">
						<input
							type="range"
							name="range"
							min="0"
							max="100"
							step="1"
							formControlName="buyer"
						/>
						<input
							style="width: 75px; padding: 5px; font-size: 16px"
							type="text"
							[value]="this.productsComponent.createOneForm.value.buyer"
							formControlName="buyer"
						/>
						<span style="position: absolute; right: 8px">%</span>
					</div>
					<button type="submit" class="super_button">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

}

<div
	style="
		width: 100%;
		padding: 15px;
		border: 1px solid gray;
		border-bottom: none;
		border-right: none;
	"
>
	<div>
		<ul style="display: flex; flex-direction: column; gap: 20px">
			@if (this.productsComponent.products.length) {
			<div style="display: flex; align-items: center; gap: 20px">
				<div
					style="
						background-color: rgb(38, 140, 38);
						color: white;
						padding: 10px 20px;
						cursor: pointer;
					"
					(click)="toggleCreateWindow(true)"
				>
					Add new item +
				</div>
				<div style="display: flex; align-items: center; gap: 5px">
					<div
						style="
							display: flex;
							align-items: center;
							gap: 5px;
							background: rgb(219, 219, 219);
							padding: 5px 5px 5px 20px;
							position: relative;
						"
					>
						<label>Budget:</label>
						<input
							style="
								border-radius: 4px;
								border: 1px solid gray;
								width: 100px;
								padding: 7px 15px;
							"
							name="budget"
							type="number"
							[(ngModel)]="this.productsComponent.budget"
						/>
						<span style="position: absolute; right: 13px">€</span>
					</div>
					<!-- Auto add budget -->
					<div style="display: flex; align-items: center; gap: 5px">
						<div
							style="
								background-color: rgb(35, 106, 35);
								padding: 10px 0px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 10, operator: '+' })"
						>
							+10
						</div>
						<div
							style="
								background-color: rgb(35, 106, 35);
								padding: 10px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 100, operator: '+' })"
						>
							+100
						</div>
						<div
							style="
								background-color: rgb(35, 106, 35);
								padding: 10px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 1000, operator: '+' })"
						>
							+1000
						</div>
					</div>
					<!-- Minus -->
					<div style="display: flex; align-items: center; gap: 5px">
						<div
							style="
								background-color: rgb(191, 59, 59);
								padding: 10px 0px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 10, operator: '-' })"
						>
							-10
						</div>
						<div
							style="
								background-color: rgb(191, 59, 59);
								padding: 10px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 100, operator: '-' })"
						>
							-100
						</div>
						<div
							style="
								background-color: rgb(191, 59, 59);
								padding: 10px;
								color: white;
								cursor: pointer;
								width: 60px;
								text-align: center;
							"
							(click)="changeBudget({ amount: 1000, operator: '-' })"
						>
							-1000
						</div>
					</div>
					<!-- Auto add budget -->
				</div>
				<div style="margin-left: auto; display: flex; gap: 10px">
					<div style="display: flex">
						<div style="display: flex; flex-direction: column">
							<button title="Select all" (click)="this.selectAll()">
								<img
									src="assets/check.png"
									alt="Check"
									style="width: 10px; height: 20px; width: 20px"
								/>
							</button>
							<button title="Cancel all" (click)="this.cancelAll()">
								<img
									src="assets/cancel.png"
									alt="Cancel"
									style="width: 10px; height: 20px; width: 20px"
								/>
							</button>
						</div>
						<button
							(click)="this.getSelected(this.selectedItemIds)"
							style="
								padding: 10px;
								width: 100px;
								border: 1px solid gray;
								cursor: pointer;
							"
							[disabled]="!this.selectedItemIds.length"
						>
							Calculate selected ({{ this.selectedItemIds.length }})
						</button>
					</div>
				</div>
			</div>
			<div>
				<h2
					style="
						padding: 15px;
						display: flex;
						justify-content: space-between;
						background-color: rgb(228, 228, 228);
					"
				>
					<div>Selected items ({{ this.selectedItems.length }})</div>
					<div>Budget: {{ this.productsComponent.budget }}€</div>
				</h2>

				<div
					style="
						display: flex;
						border: 1px solid black;
						border-right: none;
						border-bottom: none;
						border-left: none;
						margin-top: 10px;
					"
				>
					<ul style="width: 70%; border-right: 1px solid black">
						@for (selectedItem of selectedItems; track selectedItem.id) {
						<li
							style="
								padding: 15px 20px;
								border-bottom: 1px solid gray;
								border-left: 1px solid gray;
								font-size: 18px;
								display: flex;
								justify-content: space-between;
								align-items: center;
							"
						>
							<div>{{ selectedItem.name }}</div>
							<div style="display: flex; gap: 5px">
								<div>
									<strong
										>({{ selectedItem.price.toFixed(2) }}€)</strong
									>
								</div>
								<div
									style="
										font-size: 18px;
										color: white;
										font-weight: 700;
										background-color: rgb(47, 162, 47);
										padding: 5px 15px;
										align-items: center;
										cursor: pointer;
									"
									(click)="addDuplicate(selectedItem)"
								>
									+
								</div>
								<div
									style="
										font-size: 18px;
										padding: 5px 5px;
										align-items: center;
									"
								>
									({{ getAmount(selectedItem.id) }})
								</div>
								<div
									style="
										font-size: 18px;
										color: white;
										font-weight: 700;
										background-color: rgb(186, 57, 57);
										padding: 5px 15px;
										align-items: center;
										cursor: pointer;
									"
									(click)="removeDuplicate(selectedItem)"
								>
									-
								</div>
							</div>
						</li>
						}
					</ul>
					<div style="width: 30%">
						<ul
							style="display: flex; flex-direction: column; font-size: 18px"
						>
							<ol
								style="
									padding: 15px 20px;
									display: flex;
									border-bottom: 1px solid gray;
									border-right: 1px solid black;
								"
							>
								<div style="width: 60%">Total price:</div>
								{{
									data.totalPrice.toFixed(2)
								}}€
							</ol>
							<ol
								style="
									padding: 15px 20px;
									display: flex;
									border-bottom: 1px solid gray;
									border-right: 1px solid black;
								"
							>
								<div style="width: 60%">Budget after purchase:</div>
								{{
									data.budgetBeforeProfit.toFixed(2)
								}}€
							</ol>
							<ol
								style="
									padding: 15px 20px;
									display: flex;
									border-bottom: 1px solid gray;
									border-right: 1px solid black;
								"
							>
								<div style="width: 60%">Budget after profit:</div>
								{{
									data.budgetAfterProfit.toFixed(2)
								}}€
							</ol>
							<ol
								style="
									padding: 15px 20px;
									display: flex;
									border-bottom: 1px solid gray;
									border-right: 1px solid black;
								"
							>
								<div style="width: 60%">Total profit:</div>
								{{
									data.totalProfit.toFixed(2)
								}}€
							</ol>
						</ul>
					</div>
				</div>
			</div>

			<app-table></app-table>
			@for (product of this.productsComponent.products; track product.id) {
			<li
				[style.background]="
					this.selectedItemIds.includes(product.id)
						? 'rgb(210, 210, 210)'
						: 'rgb(230, 230, 230)'
				"
				style="
					display: flex;
					width: 100%;
					padding: 10px 5px;
					gap: 70px;
					cursor: pointer;
				"
				(click)="this.selectItem(product.id)"
			>
				<div style="width: 180px; border-right: 1px solid gray">
					{{ product.name }}
				</div>
				<div
					style="margin-left: auto; width: 100px; border-right: 1px solid gray"
				>
					<strong>
						<span style="font-size: 16px; font-weight: bold"
							>{{ product.price.toFixed(2) }}€</span
						></strong
					>
				</div>
				<div style="width: 180px; border-right: 1px solid gray">
					<span style="font-size: 16px; font-weight: bold"
						>{{ product.profit.toFixed(2) }}€</span
					>
				</div>
				<div style="width: 180px; border-right: 1px solid gray">
					<span style="font-size: 16px; font-weight: bold"
						>{{
							product.budgetBeforeProfit
								? product.budgetBeforeProfit.toFixed(2)
								: 0
						}}€</span
					>
				</div>
				<div style="width: 180px">
					<span style="font-size: 16px; font-weight: bold">
						{{
							product.budgetAfterProfit
								? product.budgetAfterProfit.toFixed(2)
								: 0
						}}€</span
					>
				</div>
				<div style="width: 80px; border-right: 1px solid gray">
					<span style="font-size: 16px; font-weight: bold"
						>{{ product.buyer }}%</span
					>
				</div>
				<div style="width: 100px">
					@if (product.accessable) {
					<span>✅</span>
					} @else {
					<span>⛔</span>
					}
				</div>
				@if (this.productsComponent. configuration?.safeDelete) {
				<div
					style="
						margin-left: 20px;
						color: rgb(205, 61, 61);
						font-size: 18px;
						cursor: pointer;
						width: 50px;
					"
					(click)="this.productsComponent. toggleWarning({product, state: true})"
				>
					X
				</div>
				} @else {
				<div
					style="
						margin-left: 20px;
						color: rgb(205, 61, 61);
						font-size: 18px;
						cursor: pointer;
						width: 50px;
					"
					(click)="this.productsComponent.deleteOne(product.id)"
				>
					X
				</div>
				}
			</li>
			} } @else () {
			<div style="width: 100%; display: flex; align-items: end; gap: 30px">
				<img
					src="assets/empty.svg"
					alt="designer"
					style="width: 300px; height: 300px"
				/>
				<div
					style="
						font-size: 24px;
						display: flex;
						flex-direction: column;
						gap: 15px;
					"
				>
					You have no items.
					<button (click)="toggleCreateWindow(true)" class="ultra__button">
						Create one
					</button>
				</div>
			</div>
			}
		</ul>
	</div>
</div>
