<div class="wrapper">
  <div class="window">
    @if (authMode === 'signUp') {
    <h1 class="title">Sign Up</h1>
    <form class="form" (submit)="register()" [formGroup]="registerForm">
      <div class="input__item">
        <label class="label" for="email">Email</label>
        <input
          class="input"
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Email"
        />
        @if (registerForm.get('email')?.invalid &&
        registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
        {
        <div class="error-message">
          @if (registerForm.get('email')?.errors?.['required']) { Это поле
          объязательно } @if (registerForm.get('email')?.errors?.['email']) {
          Введите корректный email }
        </div>
        }
      </div>
      <div class="input__item">
        <label class="label" for="username">Username</label>
        <input
          class="input"
          type="text"
          id="username"
          name="username"
          formControlName="username"
          placeholder="Username"
        />
        @if (registerForm.get('username')?.invalid &&
        registerForm.get('username')?.dirty ||
        registerForm.get('username')?.touched) {
        <div class="error-message">
          @if (registerForm.get('username')?.errors?.['required']) { Это поле
          объязательно }
        </div>
        }
      </div>
      <div class="input__item">
        <label class="label" for="email">Password</label>
        <input
          class="input"
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (registerForm.get('password')?.invalid &&
        registerForm.get('password')?.dirty ||
        registerForm.get('password')?.touched) {
        <div class="error-message">
          @if (registerForm.get('password')?.errors?.['required']) { Это поле
          объязательно }
        </div>
        }
      </div>
      <div class="login__block">
        <span class="login__text">Already have an account?</span>
        <div class="login__button" (click)="changeAuthMode('signIn')">
          Sign In
        </div>
      </div>
      <button
        type="submit"
        [class]="registerForm.valid ? 'submit__active' : 'submit__disabled'"
      >
        Create an account
      </button>
    </form>
    } @else if (authMode === 'signIn') {
    <h1 class="title">Sign In</h1>
    <form class="form" (submit)="login()" [formGroup]="loginForm">
      <div class="input__item">
        <label class="label" for="email">Email or username</label>
        <input
          class="input"
          type="text"
          id="emailOrUsername"
          name="emailOrUsername"
          formControlName="emailOrUsername"
          placeholder="Email or username"
        />
        @if (registerForm.get('emailOrUsername')?.invalid &&
        registerForm.get('emailOrUsername')?.dirty ||
        registerForm.get('emailOrUsername')?.touched) {
        <div class="error-message">
          @if (registerForm.get('emailOrUsername')?.errors?.['required']) { Это
          поле объязательно }
        </div>
        }
      </div>
      <div class="input__item">
        <label class="label" for="email">Password</label>
        <input
          class="input"
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (registerForm.get('password')?.invalid &&
        registerForm.get('password')?.dirty ||
        registerForm.get('password')?.touched) {
        <div class="error-message">
          @if (registerForm.get('password')?.errors?.['required']) { Это поле
          объязательно }
        </div>
        }
      </div>
      <div class="login__block">
        <span class="login__text">Don't have an account?</span>
        <div class="login__button" (click)="changeAuthMode('signUp')">
          Sign Up
        </div>
      </div>
      <button
        type="submit"
        [class]="loginForm.valid ? 'submit__active' : 'submit__disabled'"
      >
        Create an account
      </button>
    </form>

    }
  </div>
  <img class="image" src="/assets/meme.jpg" alt="Register Image" />
</div>
