.wrapper {
  display: flex;
  align-items: center;
}

.image {
  height: 100vh;
  width: 100%;
}

.window {
  padding: 20px;
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  // background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  //   background: linear-gradient(135deg, #00d2ff, #007eff, #3a7bd5);
  width: 550px;
  height: 100vh;
  align-content: center;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.input__item {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input {
    padding: 15px 10px;
    border-radius: 8px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .label {
    font-size: 18px;
    color: white;
  }
}

.submit__disabled {
  background: linear-gradient(135deg, #808080, #a9a9a9);
  color: white;
  margin-top: 5px;
  padding: 13px;
  border-radius: 8px;
  border: none;
  width: 45%;
  font-size: 15px;
  margin-left: auto;
}

.submit__active {
  background: linear-gradient(135deg, #4caf50, #2e8b57);
  color: white;
  padding: 13px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  width: 45%;
  font-size: 15px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit__active:hover {
  background: linear-gradient(135deg, #66bb6a, #388e3c);
}

.login__block {
  margin-top: 5px;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .login__text {
  }

  .login__button {
    color: #98ff98;
    cursor: pointer;
  }
}

.error-message {
  color: rgb(234, 48, 48);
  font-size: 12px;
  margin-top: 5px;
}
