.super_button {
  padding: 8px 35px;
  border: none;
  background-color: rgb(116, 200, 116);
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.super_button:hover {
  background: green;
}

.link {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.link:hover {
  background: rgb(202, 202, 202);
}

.active {
  background: rgb(202, 202, 202);
}
