<div
	style="
		width: 100%;
		background-color: rgb(98, 63, 214);
		padding: 5px 10px 5px 5px;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
	"
>
	<div style="display: flex; align-items: center; gap: 15px">
		Beta (<i>v1.1.0</i>) приложуха пизда тормозит! Бабки на норм сервак скидывать по
		аддресу: 5375411416487077 😎☝
		<audio controls style="height: 30px">
			<source src="assets/moscow_never_sleeps_slowed.mp3" type="audio/mpeg" />
		</audio>
	</div>
	<div style="display: flex; align-items: center; gap: 10px">
		<div>
			{{ user?.email }}
		</div>
		<div (click)="logout()">
			<img
				style="width: 30px; height: 30px; cursor: pointer"
				src="assets/logout.png"
				alt="Logout"
			/>
		</div>
	</div>
</div>

@if (warningWindow) { @if (windowItem) {
<div
	style="
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	"
	(click)="toggleWarning({ state: false })"
>
	<div
		(click)="$event.stopPropagation()"
		style="
			width: 40%;
			height: 30%;
			background: white;
			border-radius: 8px;
			padding: 10px;
			font-size: 22px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		"
	>
		<div
			style="
				background-color: rgb(186, 57, 57);
				padding: 5px 10px;
				color: white;
				width: 100%;
				text-align: center;
			"
		>
			Permamently delete the item:
			<span style="margin-left: 10px">{{ windowItem.name }}</span>
		</div>
		<div style="display: flex; justify-content: space-between">
			<button
				(click)="toggleWarning({ state: false })"
				style="
					padding: 15px 20px;
					width: 45%;
					background-color: rgb(200, 59, 59);
					color: white;
					border: none;
					cursor: pointer;
				"
			>
				Cancel
			</button>

			<button
				(click)="deleteOne(windowItem.id)"
				style="
					padding: 15px 20px;
					width: 45%;
					background-color: rgb(70, 165, 70);
					color: white;
					border: none;
					cursor: pointer;
				"
			>
				Yes
			</button>
		</div>
	</div>
</div>
} } @if (settingsOpen) {
<app-configurations></app-configurations>
}

<div style="display: flex; height: 100vh; width: 100%">
	<div
		style="
			width: 15%;
			padding: 15px;
			background-color: rgb(241, 241, 241);
			display: flex;
			flex-direction: column;
			gap: 5px;
			box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
		"
	>
		<a class="link" routerLink="items" routerLinkActive="active">Items</a>

		<a class="link" routerLink="settings" routerLinkActive="active">Settings</a>
	</div>
	<router-outlet></router-outlet>
</div>
