.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 15px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
}

.text {
  width: 150px;
}
