@if (configuration) {
<ul class="items">
  <ol class="item">
    <div class="text">Safe deleting</div>
    @if (configuration.safeDelete) {
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(36, 146, 36);
        color: white;
        width: 70px;
      "
      disabled
      (click)="updateOne(configuration.id, { safeDelete: true })"
    >
      ON
    </button>
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(178, 178, 178);
        color: white;
        width: 70px;
        cursor: pointer;
      "
      (click)="updateOne(configuration.id, { safeDelete: false })"
    >
      OFF
    </button>
    } @else {
    <div>
      <button
        style="
          padding: 10px 15px;
          background-color: rgb(178, 178, 178);
          color: white;
          width: 70px;
          cursor: pointer;
        "
        (click)="updateOne(configuration.id, { safeDelete: true })"
      >
        ON
      </button>
      <button
        style="
          padding: 10px 15px;
          background-color: rgb(168, 48, 48);
          color: white;
          width: 70px;
        "
        disabled
        (click)="updateOne(configuration.id, { safeDelete: false })"
      >
        OFF
      </button>
    </div>
    }
  </ol>
  <ol class="item">
    <div class="text">Close after create</div>
    @if (configuration.closeAfterCreate) {
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(36, 146, 36);
        color: white;
        width: 70px;
      "
      disabled
      (click)="updateOne(configuration.id, { closeAfterCreate: true })"
    >
      ON
    </button>
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(178, 178, 178);
        color: white;
        width: 70px;
        cursor: pointer;
      "
      (click)="updateOne(configuration.id, { closeAfterCreate: false })"
    >
      OFF
    </button>
    } @else {
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(178, 178, 178);
        color: white;
        width: 70px;
        cursor: pointer;
      "
      (click)="updateOne(configuration.id, { closeAfterCreate: true })"
    >
      ON
    </button>
    <button
      style="
        padding: 10px 15px;
        background-color: rgb(168, 48, 48);
        color: white;
        width: 70px;
      "
      disabled
      (click)="updateOne(configuration.id, { closeAfterCreate: false })"
    >
      OFF
    </button>
    }
  </ol>
</ul>
}
<span
  style="position: absolute; bottom: 10px; right: 10px; cursor: pointer"
  (click)="this.productsComponent.toggleSettings(false)"
  ><img
    style="width: 30px; height: 30px"
    src="assets/cross-mark.png"
    alt="Cross-Mark"
/></span>
